
body {
    background-color: #392F5A;
}

.paddle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}

.paddle-one {
    background-color: #8c8899;
    width: 1vh;
    height: 12vh;
}

.paddle-two {
    background-color: #8c8899;
    width: 1vh;
    height: 12vh;
}

.ball {
    height: 1.5vh;
    width: 1.5vh;
    background-color: #8c8899;
    display: flex;
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p1-score {
    
}


























