
body {
    background-color: black;
}

canvas {
    border: 2px solid white;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    border-style: solid;
    border-color: white;
}

.paddle-one {
    background-color: rgb(73, 217, 243);
    margin-left: 1vh;
    width: 1vh;
    height: 12vh;
}

.paddle-two {
    background-color: rgb(236, 79, 210);
    margin-right: 1vh;
    width: 1vh;
    height: 12vh;
}

.ball {
    height: 1.5vh;
    width: 1.5vh;
    background-color: white;
    display: flex;
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: larger;
}

.header {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vice {
    color: rgb(73, 217, 243);
    padding-right: 5px;
    font-size: 5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pong {
    color: rgb(236, 79, 210);
    padding-left: 5px;
    font-size: 5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.score {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



























