
body {
    background-color: black;
}

.paddle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}

.paddle-one {
    background-color: rgb(73, 217, 243);
    width: 1vh;
    height: 12vh;
}

.paddle-two {
    background-color: rgb(236, 79, 210);
    width: 1vh;
    height: 12vh;
}

.ball {
    height: 1.5vh;
    width: 1.5vh;
    background-color: white;
    display: flex;
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: larger;
}




























